.comment-input span{
    width: 80px;
    margin-right: 10px;
    float: left;
    text-align: right
}
.comment-input{
    margin-bottom: 20px;
}
.comment-input .inpout{
    margin-left: 92px;
    border: 1px solid #BEBEBE;
    border-radius: 4px;
}
.comment-input .sinpout{
    border: 1px solid #3385ff;
}
.comment-input-top .inpout{
    height: 30px;
}
.comment-input-bottom textarea{
    vertical-align: top;
    height: 50px;
    resize: none;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 5px 0;
}
.comment-button-box{
    height: 40px;
    margin-bottom: 40px;
    text-align: right;
}
.comment-button-box button{
    height: 40px;
    width: 112px;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    background: #3385ff;
}